@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-ExtraBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Black.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}